.button {
  height: 25px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  margin: 4px 0px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.button:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.button.buttonFour {
  position: absolute;
  bottom: 87px;
  left: 4px;
  right: 4px;
}

.button.buttonThree {
  position: absolute;
  bottom: 58px;
  left: 4px;
  right: 4px;
}

.button.buttonTwo {
  position: absolute;
  bottom: 29px;
  left: 4px;
  right: 4px;
}

.button.buttonOne {
  position: absolute;
  bottom: 0px;
  left: 4px;
  right: 4px;
}

.button.upgrade {
  /* display: none; */
  text-align: left;
}
