.button {
  height: 25px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  margin: 4px 0px 0px 0px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.button:active {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.button.upgrade {
  text-align: left;
}

.button.primary {
  height: 50px;
}

.button.disabled {
  background-color: rgba(180, 180, 180, 0.4);
  cursor: default;
}

/* .button.buttonFour {
  position: absolute;
  bottom: 87px;
  left: 4px;
  right: 4px;
}

.button.buttonThree {
  position: absolute;
  bottom: 58px;
  left: 4px;
  right: 4px;
}

.button.buttonTwo {
  position: absolute;
  bottom: 29px;
  left: 4px;
  right: 4px;
}

.button.buttonOne {
  position: absolute;
  bottom: 0px;
  left: 4px;
  right: 4px;
} */
